%h2 Work History

%br

%h3 Halogen
%h3
  %small Front End Developer - San Francisco, CA - March 2010 - Present
%p
  %a{:href => "http://www.halogennetwork.com/", :target => "_blank"} Halogen
  is a advertising agency and network that works mainly with "affluent" brands. All agency development is done in house. All applications are put into rails projects, version controlled, code reviewed and refactored. I have been given a wide array of work, from creating embeddable rich media ad units, to creating custom content management systems, to wireframming and design work. Each project has had its unique challenges, and coding for such high traffic sites has forced me to create lean code that plays nice with all browsers (including IE6). It has also been really interesting learning and developing for the world of online advertising, where every user engagement is tracked and analytical information is priority number one. I am very happy to be working with them.

%br

%h3 Oniracom
%h3 
  %small Front End Developer - Santa Barbara, CA - 2009-2010
%p
  Worked several long term contract jobs with music industry specialist
  = succeed "." do
    %a{:href => "http://www.oniracom.com/"} Oniracom
  Oniracom uses
  %a{:href => "http://basecamphq.com/"} Basecamp
  to collaborate and
  %a{:href => "http://expressionengine.com/"} Expression Engine
  to power dynamic driven content on their websites. I did both front and back end development, as well as design work for them. Websites include: A social networking site for
  = succeed ";" do
    %a{:href => "http://www.wailers.com/"} The Wailers
  micro-tour sites for John Legend and The Counting Crows, and full websites for
  = succeed "," do
    %a{:href => "http://www.neilhalstead.com/"} Neil Halstead
  = succeed "," do
    %a{:href => "http://www.zeeavi.com/"} Zee Avi
  \&
  = succeed "." do
    %a{:href => "http://www.scenicburrows.com/"} Scenic Burrows

%br

%h3 IGOT
%h3 
  %small Development Consultant - San Francisco, CA - 2009
%p
  %a{:href => "http://globalorthopaedics.org/"} The Institute for Global Orthopaedics & Traumatology
  is a UC San Francisco affiliated non-profit that came to me dissatisfied with the status of their website: information was hard to find, load times were slow, the content management system was useless, and the website was not cross browser compatible. Working with their administrators, I did a complete overhaul of the information architecture and built a website with simple content management capabilities that was so well received that the
  %a{:href => "http://orthosurg.ucsf.edu/patient-care/mission-bay.html"} entire department
  is using it as development model as they are currently updating their platform.