%h3
  = link_to 'Baumer Designs', root_path
%h3
  %small Freelance/Contract Developer - San Francisco, CA - February 2012 - Present
%p
  In the last few months I have been taking on contract work. I built a 
  = link_to 'mobile web app', 'http://oticonf.globalorthopaedics.org/', target: '_blank'
  for a medical conference hosted by the University of California, San Francisco and have been maintaining and improving the Rails back-end of popular surf website
  = succeed '.' do
    = link_to 'Korduroy.tv', 'http://korduroy.tv/', target: '_blank'
  I also did some traveling and just recently returned back to the United States.

%br

.alert.alert-info
  %p 
    %b Social Chorus 
    and 
    %b Halogen
    are basically the same company. After a pivot in business focus, Halogen decided to rebrand itself as Social Chorus. I have them listed as two separate jobs because my role as a developer changed drastically after the transition, but career-wise I was with the same company for two years.
%h3
  = link_to 'Social Chorus', 'http://socialchorus.com/', target: "_blank"
%h3
  %small Full Stack Developer - San Francisco, CA - August 2011 - February 2012
%p
  = link_to 'Social Chorus', 'http://socialchorus.com/', target: "_blank"
  offers digital marketing strategy and software to several fortune 500 brands. As a developer, I was in charge of building their influencer relationship management platform. Thanks to some help from the great folks at 
  = succeed ',' do
    = link_to 'Pivotal Labs', 'http://pivotallabs.com/', target: '_blank'
  our team instilled strict agile practices including daily stand-ups, paired programming, and test driven development for every piece of functionality. The technology stack was Rails 3.2 with deployment on Heroku, unit tested with Rspec, Jasmine, and Selenium. The application ran continuous integration tests with Jenkins on an EC2 instance that fired a new build every time there was a push to our Github repo. The app also had an analytics module that used Nginx to store large datasets in a sharded MongoDB. I was with the product from inception to it's beta release, and being my first experience developing in a large Rails app, I learned an incredible amount about both the language and application architecture. With regards to design, I helped shape the user interface by meeting daily with the design team to discuss potential issues and offered alternative solutions.
    
%br
  
%h3
  = link_to 'Halogen', 'http://www.halogennetwork.com/', target: "_blank"
%h3
  %small Lead Front End Developer - San Francisco, CA - March 2010 - August 2011
%p
  Before Social Chorus' pivot, the company was known as
  = link_to 'Halogen', 'http://www.halogennetwork.com/', target: "_blank"
  and  was an advertising agency and network that worked mainly with "affluent" brands. All agency development was done in house. All applications were put into rails projects, version controlled, code reviewed and refactored. I was given a wide array of work, from creating Facebook applications, custom content management systems, wire-framing and design work, embeddable rich media ad units, and high traffic websites. As the "front-end guy", I faced many unique challenges, including dabbling with html5 technologies and wrangling legacy browsers (including IE6) into becoming pixel perfect. I also trained several employees and advised management on technology direction.

%br

%h3
  = link_to 'UCSF', 'http://orthosurg.ucsf.edu/patient-care/mission-bay.html', target: "_blank"
%h3 
  %small Development Consultant - San Francisco, CA - January 2010 - March 2010
%p
  Did a wide range of work for the university on their website including cleaning up and refactoring legacy code, training employees on how to use the content management system, and helping transition data from their old cms to the newly developed one. I also built a custom CMS for one of their departments,
  = succeed "." do
    = link_to 'The Institute for Global Orthopaedics & Traumatology', 'http://globalorthopaedics.org/', target: "_blank"
  The department was dissatisfied with the status of their website: information was hard to find, load times were slow, the content management system was useless, and the website was not cross browser compatible. Working with their administrators, I did a complete overhaul of the information architecture and built a website with simple content management capabilities that was so well received that the
  = link_to 'entire department', 'http://orthosurg.ucsf.edu/patient-care/mission-bay.html', target: "_blank"
  used it as development model during their platform update.

%br

%h3
  = link_to 'Oniracom', 'http://www.oniracom.com/', target: "_blank"
%h3 
  %small Front End Developer - Santa Barbara, CA - 2009-2010
%p
  Worked several long term contract jobs with music industry specialist
  = succeed "." do
    = link_to 'Oniracom', 'http://www.oniracom.com/', target: "_blank"
  Oniracom is a marketing agency that deals mostly with well-known musicians and Hollywood celebrities. I worked in their online division and primarily worked as a front-end developer, building many of their websites. The company used 
  = link_to 'Expression Engine', 'http://expressionengine.com/', target: "_blank"
  for content management, and I did have to do some PHP work to tie the front-end to the cms. I also did website design work for the agency.

%br

