%h3 Development skills
.alert
  I have a strong front-end development skill set with a solid understanding of HTML5, CSS3, and Javascript. I also have good experience working with Rails and mobile applications.
%ul
  %li 
    Extremely strong understanding of CSS including cross browser issues, 
    = succeed "," do
      = link_to 'object oriented CSS', 'https://github.com/stubbornella/oocss/wiki', target: "_blank"
    CSS3 animations and techniques, and implementing third party toolkits such as 
    = link_to 'compass', 'http://compass-style.org/'
    and 
    = link_to "twitter's bootstrap.", "http://twitter.github.com/bootstrap/index.html", target: "_blank"
  %li 
    Thorough understanding of Javascript, including popular design patterns such as the module and facade patterns. I have some experience working with 
    = link_to 'Backbone.js', 'http://backbonejs.org/' 
    and testing code with
    = succeed "." do
      = link_to 'Jasmine', 'https://github.com/pivotal/jasmine', target: "_blank"
  %li 
    Intermediate experience with 
    = link_to 'Ruby on Rails', 'http://rubyonrails.org/', target: "_blank"
    (including work within a large code base, test driven development using 
    = link_to 'Rspec', 'http://rspec.info/', target: '_blank'
    and
    = succeed "," do
      = link_to 'Selenium', 'http://seleniumhq.org/', target: "_blank"
    and deploying to remote environments via 
    = succeed ")." do
      = link_to 'Heroku', 'http://www.heroku.com/', target: "_blank"
  %li 
    Mobile web based application experience. I have used both
    = link_to 'jQuery Mobile', 'http://jquerymobile.com/', target: "_blank"
    and 
    = link_to 'Sencha Touch', 'http://www.sencha.com/products/touch', target: "_blank"
    for frameworks on previous projects.
  %li 
    Version control with Git
    = precede "(" do
      = link_to 'Github', 'https://github.com/', target: "_blank"
    and
    = succeed ")." do
      = link_to 'Bitbucket', 'https://bitbucket.org/', target: "_blank"
  %li 
    Extensive of experience working with content managements systems including 
    = succeed "," do
      = link_to 'Wordpress', 'http://wordpress.org/', target: "_blank"
    = succeed "," do
      = link_to 'Locomotive', 'http://locomotivecms.com/', target: "_blank"
    = succeed "," do
      = link_to 'Harmony', 'http://get.harmonyapp.com/', target: "_blank"
    and
    = succeed "." do
      = link_to 'Expression Engine', 'http://expressionengine.com/'

%br
%h3 Design skills
.alert
  I love user interface design and the unique blend of creativity and logical thought that go into it. While design has not been my main role for quite some time, I have been a part of interface design projects and am hoping to expand on this in future projects.
%ul
  %li User Interface design and iteration based on client feedback. 
  %li Strong understanding of usability, information architecture, and design principles.
  %li Experience with A/B testing and other site optimization techniques
  %li Graphic design experience including branding and print production.
  %li Pixel perfect attention to detail.
  %li Strong photography skills, both technically and conceptually. (Yes everyone thinks they are a photographer, but I actually worked as a photographer's assistant for a year)