= content_for :title do
  Baumer Designs: Web Design & Development via Paul Tannenbaum

= content_for :header do
  :css
    * { padding:0; margin:0; border:0 }
    body { background:#2E2633;  width:auto;  font:normal 100% sans-serif; }

    #baumer { display:block; padding:3% }
    h1 { display:block;  font-size:500%;  line-height:100%;  letter-spacing:-3px;  color:#99173C;  margin:.2em 0 .6em 0}
    h2, h3 {  margin:0 0 1em 0;  line-height:110%}
    h2 {  color:#DCE9BE; font-size:250%; letter-spacing:-2px }
    h3 { color:#fff;  font-size:200%;  letter-spacing:-1px }
    a, 
    a:visited { text-decoration:none }
    a:hover { text-decoration:underline }
    .teal, 
    .teal:visited { color:#4ECDC4}
    .yellow, 
    .yellow:visited { color:#C7F464}
    .salmon, 
    .salmon:visited { color:#FF6B6B}
    .cherry, 
    .cherry:visited { color:#C44D58} 
    .sky_blue,
    .sky_blue:visited { color:#69D2E7 }
    

#baumer
  %h1 BaumerDesigns
  %h2 Thanks for finding me on the interwebz.
  %h2
    My name is Paul Tannenbaum. I am a web developer and designer located in San Francisco. You can find me on
    = succeed "," do
      %a.teal{:href => "http://twitter.com/PaulTannenbaum", :target => "_blank"} Twitter
    = succeed "," do
      %a.cherry{:href => "http://www.linkedin.com/pub/paul-tannenbaum/4/6b2/924", :target => "_blank"} LinkedIn
    \&
    = succeed "." do
      %a.salmon{:href => "http://about.me/paultannenbaum", :target => "_blank"} About.Me
  %h2 I am currently taking on contract work at the moment.
  %h3
    %a.sky_blue{:href => "mailto:paul@baumerdesigns.com"} Contact Me Via Email