#wrapper
  %h1
    %strong BaumerDesigns
  %h2 Thanks for finding me on the interwebz.
  %h2
    My name is Paul Tannenbaum. I am a web developer and designer located in San Francisco. You can find me on
    = succeed "," do
      %a#github{:href => "https://github.com/paultannenbaum", :target => "_blank"} Github
    = succeed "," do
      %a#twitter{:href => "http://twitter.com/PaulTannenbaum", :target => "_blank"} Twitter
    = succeed "," do
      %a#linkedin{:href => "http://www.linkedin.com/pub/paul-tannenbaum/4/6b2/924", :target => "_blank"} LinkedIn
    \&
    = succeed "." do
      %a#aboutme{:href => "http://about.me/paultannenbaum", :target => "_blank"} About.Me
  %h2
    I currently work at
    = succeed "." do
      %a#apple{:href => "http://www.apple.com/", :target => "_blank"} Apple
    I am not taking on any extra work at the moment.
  %h3
    %a#contact{:href => "mailto:paultannenbaum@gmail.com"} Contact Me Via Email
