#wrapper
  %h1
    %strong
      BaumerDesigns
  %h2
    Thanks for finding me on the interwebz.
  %h2
    My name is Paul Tannenbaum. I specialize in building web and mobile software
    products, with a focus on code architecture and building out engineering teams.
    I am based in Santa Barbara and available for consulting.
  %h2
    You can find me on
    = succeed ',' do
      = link_to 'Github', 'https://github.com/paultannenbaum', id: 'github'
    = succeed ', &amp;' do
      = link_to 'LinkedIn', 'http://www.linkedin.com/pub/paul-tannenbaum/4/6b2/924', id: 'linkedin'
    = succeed '.' do
      = link_to 'About.Me', 'http://about.me/paultannenbaum', id: 'aboutme'
  %h3
    = link_to 'Contact Me Via Email', 'mailto:paultannenbaum@gmail.com', id: 'contact'

/ Start of HubSpot Embed Code
%script#hs-script-loader{:async => "", :defer => "defer", :src => "//js.hs-scripts.com/5459597.js", :type => "text/javascript"}
/ End of HubSpot Embed Code

/ Global site tag (gtag.js) - Google Analytics
%script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-6495998-1"}
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-6495998-1');