#skills.tab-pane.active.in
  .page-header
    %h3 Development skills
    .alert
      I have a strong front-end development skill set with a solid understanding of HTML5, CSS3, and Javascript. I also have good experience working with Rails and mobile applications.
    %ul
      %li
        Extremely strong understanding of CSS including cross browser issues,
        = succeed "," do
          %a{:href => "https://github.com/stubbornella/oocss/wiki", :target => "_blank"} object oriented CSS
        CSS3 animations and techniques, and implementing third party toolkits such as
        %a{:href => "http://compass-style.org/"} compass
        and
        %a{:href => "http://twitter.github.com/bootstrap/index.html", :target => "_blank"} twitter's bootstrap.
      %li
        Thorough understanding of Javascript, including popular design patterns such as the module and facade patterns. I have some experience working with
        %a{:href => "http://backbonejs.org/"} Backbone.js
        and testing code with
        = succeed "." do
          %a{:href => "https://github.com/pivotal/jasmine", :target => "_blank"} Jasmine
      %li
        Intermediate experience with
        %a{:href => "http://rubyonrails.org/", :target => "_blank"} Ruby on Rails
        (including work within a large code base, test driven development using
        %a{:href => "http://rspec.info/", :target => "_blank"} Rspec
        and
        = succeed "," do
          %a{:href => "https://github.com/jnicklas/capybara/", :target => "_blank"} Capybara
        and deploying to remote environments via
        = succeed ")." do
          %a{:href => "http://www.heroku.com/", :target => "_blank"} Heroku
      %li
        Mobile web application experience.
      %li
        Version control with Git
        (
        %a{:href => "https://github.com/", :target => "_blank"} Github
        and
        = succeed ")." do
          %a{:href => "https://bitbucket.org/", :target => "_blank"} Bitbucket
      %li
        Extensive experience working with content managements systems including
        = succeed "," do
          %a{:href => "http://wordpress.org/", :target => "_blank"} Wordpress
        = succeed "," do
          %a{:href => "http://locomotivecms.com/", :target => "_blank"} Locomotive
        = succeed "," do
          %a{:href => "http://get.harmonyapp.com/", :target => "_blank"} Harmony
        and
        = succeed "." do
          %a{:href => "http://expressionengine.com/"} Expression Engine
    %br/
    %h3 Design skills
    .alert
      I love user interface design and the unique blend of creativity and logical thought that go into it. While design has not been my main role for quite some time, I have been a part of interface design projects and am hoping to expand on this in future projects.
    %ul
      %li User Interface design and iteration based on client feedback.
      %li Strong understanding of usability, information architecture, and design principles.
      %li Experience with A/B testing and other site optimization techniques
      %li Graphic design experience including branding and print production.
      %li Pixel perfect attention to detail.
      %li Strong photography skills, both technically and conceptually. (Yes everyone thinks they are a photographer, but I actually worked as a photographer's assistant for a year)